{% extends 'base.html' %}
{% block title %}
<title>Register page</title>
{% endblock %}

{% block body %}

<div class="container text-center">
    <form method="POST" class="form-signin" style="color:white">
        {{ form.hidden_tag() }}
        <img class="mb-4" src="{{url_for('static', filename='cart.png')}}" alt="" height="100" width="100">
        <h1 class="h3 mb-3 font-weight-normal">
            Please Login
        </h1>
        <br>
        {{ form.username.label() }}
        {{ form.username(class="form-control text-center", placeholder="User Name") }}

        {{ form.password.label() }}
        {{ form.password(class="form-control text-center", placeholder="Password") }}

        {{ form.submit_data(class="btn btn-lg btn-block btn-success mt-4") }}
        <br>

        <div class="checkbox mb-3">
           <h6>Do not have an account?</h6>
           <a class="btn btn-sm btn-secondary" href="{{ url_for('register') }}">Register</a>
        </div>


    </form>
</div>

{% endblock %}